.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.App-header {
  // background-color: #3f475a;
  // background-size: 400% 400%;
  // animation: gradient 15s ease infinite;
  // background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 20px 0px 20px;
}

p {
  font-weight: 800;
}

h3 {
  transition: 500ms;
}

.App-link {
  color: #61dafb;
}

.toggle-wrapper {
  display: flex;
  margin: 20px;
  align-items: center;

  .react-switch {
    padding-right: 20px;
  }
}

.explanation {
  font-size: 12px;
}
